.shownav {
     height: 0.8em; width: 1.25em; display: block;  
    border-top: 0.2em solid black;
    border-bottom: 0.2em solid black;   
    border-radius: 0.1em; }



.shownav:before {
     content: ''; 
     position: absolute;  
    width: 100%;   
    top: 0.3em;  
    left: 0px;  
    border-top: 0.2em solid black;
 }
 .menu{
     display: none;
     flex-direction: column;
 }
 #clicked .on {display: block;}
 #clicked .off {display: none;}
 #clicked:target .on {display: none;}
 #clicked:target .off {display: block;}
 #clicked:target .menu{display: flex;}
 h1{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}